body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #2b2b2b;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;

    text-decoration: none;
    color: #2b2b2b;
    transition: 0.3s;
}

.nav-link:hover {
    color: #4d2323;
}

.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #4d2323;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    margin-bottom: 40px;
    padding-right: 40px;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #355c4b;
}

.link {
  text-decoration: none;
  color: #992066;
  transition: color 0.3s;
}

.link:hover {
  color: #5d8a74;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  object-position: top;
}

.section-item {
  position: relative;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #992066;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.rss-logo {
  width: 100px;
}